<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dipalmaintiso.carcheck">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarCheck">
        <activity android:name=".management.VehicleDataActivity"></activity>
        <activity android:name=".views.GroupVehiclesActivity" />
        <activity android:name=".views.UserGroupsActivity" />
        <activity android:name=".registrationlogin.LoginActivity" />
        <activity android:name=".registrationlogin.RegistrationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>